<div class="container">
  <h1 class="<%= ' text-muted' unless @semester.active %>">
    <%= @semester.semester_long_name %>
  </h1>

  <p id="notice"><%= notice %></p>

  <strong>Abrechnungsbeginn:</strong>
  <%= @semester.start %>

  <strong>Abrechnungsende:</strong>
  <%= @semester.end %>

  <table class="table table-striped table-bordered" style="margin-left: -180px">
    <thead>
    <tr>
      <th>Beleg</th>
      <th>Datum</th>
      <th>Beschreibung</th>

      <% Semester.current.categories.all.each do |budget| %>
          <th>
            <%= budget.name %>
          </th>
      <% end %>

    </tr>
    <tr>
      <th><%= @semester.start %></th>
      <th></th>
      <th></th>
      <% Semester.current.categories.all.each do |budget| %>
          <th>
            <%= budget.amount.euro %>
          </th>
      <% end %>

    </tr>
    </thead>

    <tbody>
    <%
       cats = Semester.current.categories
       entries = cats.map { |budget| budget.entries }
       entries = entries.flatten
       entries = entries.reject { |i| !i.user.nil? }
       entries.sort_by! { |entry| entry.date}
       receipt = entries.group_by &:receipt_id
    %>
    <% receipt.each do |receipt_entries_ary| %>
        <% receipt = Receipt.find(receipt_entries_ary[0]) %>
        <% receipt_entries = receipt_entries_ary[1] %>
        <tr onclick="location.href='<%= receipt_path(receipt) %>'" style="cursor: pointer">
          <td><%= receipt.code %></td>
          <td><%= receipt.date %></td>
          <td title="<%= receipt.entries.map{|x|x.user.try(:fullname)}.join(', ')%>"><%= receipt.description %></td>
          <% Semester.current.categories.each do |budget| %>
              <td>
              <% receipt_entries.each do |entry| %>
                  <%= entry.amount.euro if entry.category.id == budget.id %>
              <% end %>
              </td>
          <% end %>
        </tr>
    <% end %>
    </tbody>
    <tfoot>

    <tr>
      <th><%= Date.today %></th>
      <th></th>
      <th></th>

      <% Semester.current.categories.all.each do |cat| %>
          <%
             cat_entries = cat.entries
             cat_entries = cat_entries.flatten
             cat_entries = cat_entries.reject { |i| !i.user.nil? }
          %>
          <th>
            <%= (cat.amount.to_f - cat_entries.sum(&:amount)).euro %>
          </th>
      <% end %>
    </tr>
    </tfoot>
  </table>

  <%= link_to 'Edit', edit_semester_path(@semester) %> |
  <%= link_to 'Back', semesters_path %>
</div>