<tr>
  <td><%= link_to entry.receipt.code, entry.receipt %></td>
  <td><%= entry.date %></td>
  <td><%= entry.description %></td>
  <td><%= entry.amount %></td>
  <td><%= link_to 'Show', entry %></td>
  <td><%= link_to 'Edit', edit_entry_path(entry) %></td>
  <td><%= link_to 'Destroy', entry, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>