<% provide(:title, @user.name) %>
<h1>
  <%= @user.name %><%= ' (adH)' if @user.adh? %>
</h1>
<div class="container">
  <table class="table table-striped table-hover">
    <tr>
      <th>
        Datum
      </th>
      <th>
        Beleg
      </th>
      <th>
        Beschreibung
      </th>
      <th>
        Betrag
      </th>
    </tr>
    <% @user.entries.each do |entry| %>
        <tr onclick="location.href='<%= receipt_path(entry.receipt) %>'" style="cursor: pointer">
          <td><%= entry.date.to_s  %></td>
          <td><%= entry.receipt.code %></td>
          <td><%= entry.receipt.description %></td>
          <td><%= entry.amount %>€</td>
        </tr>
    <% end %>
    <tfoot>
        <tr>
          <th colspan="3">
            Gesamt:
          </th>
          <th colspan="1" class="text-right">
            <%= @user.balance %>€
          </th>
        </tr>
    </tfoot>
  </table>
</div>