<% provide(:title, @user.name) %>

<div>
  <% unless @user.adh? or true%>
  <div class="hidden-print">
    <h1><%= @user.fullname %></h1>
  </div>
  <div class="visible-print letter">
    <div class="text-right">
      <p class="pull-left text-left">
        Max Mustermannbr <br/>
        Musterstraße 42 <br/>
        123456 Musterstadt
      </p>

      <p>
        <%= l(Time.now, :format => '%d. %B %Y') %>
      </p>
    </div>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>
      <strong>CC-Rechnung</strong>
    </p>
    <p>&nbsp;</p>
    <% if @user.cb? or @user.ah? %>
        <p>
          Meinen herzlichen Gruß zuvor!
        </p>
        <br/>

        <p>Lieber <%= @user.fullname %>,</p>
        <br/>
    <% elsif @user.gast? %>
        <p>Lieber <%= @user.fullname %>,</p>
    <% end %>
    <% if @user.balance > 0 %>
        <p>
          Im folgenden findest du eine Übersicht über dein CC-Konto. Überweise den Betrag von <%= @user.balance.euro %>
          bitte binnen 14 Tagen auf das CC-Konto:
        </p>

        <address style="margin-left:2em;">
          Verein alter Tübinger Preußen e.V.<br/>
          IBAN: DE56 6407 0024 0177 8703 00 <br/>
          BIC: DEUTDBDE640<br/>
          Deutsche Bank Tübingen
        </address>

    <% else %>
        <p>
          Du hast ein Guthaben beim CC in Höhe von <%= @user.balance.abs.euro %>. Wir werden zukünftige Rechnungen mit
          diesem Guthaben verrechnen.
          <br/>
          Möchtest Du statt dessen dein Guthaben ausgezahlt bekommen, so wende Dich bitte direkt an
          <span style="white-space:nowrap">cc@corps-borussia.de</span>. Danke!
        </p>
    <% end %>
    <p>
      Bei Fragen stehe ich Dir immer gerne zur Verfügung.
    </p>
    <p>&nbsp;</p>
    <p>
      Mit den besten Wünschen,
    </p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>
      Dein <%= Semester.current.xxx.name %>
    </p>
    <p class="text-center letter-footer">
      Corps Borussia Tübingen, Österbergstraße 12, 72074 Tübingen<br>
      cc@corps-borussia.de | Tel. 07071 23969
    </p>
  </div>
    <% end %>

  <div class="kontoauszug">
    <h1><%= @user.fullname %></h1>
    <table class="table table-striped table-hover">
      <tbody>
      <tr>
        <th>
          Datum
        </th>
        <th>
          Beleg
        </th>
        <th>
          Beschreibung
        </th>
        <th>
          Betrag
        </th>
      </tr>
      <% @entries.each do |entry| %>
          <tr onclick="location.href='<%= receipt_path(entry.receipt) %>'" style="cursor: pointer">
            <td><%= entry.date.strftime("%d.%m.%Y") %></td>
            <td><%= entry.receipt.code %></td>
            <td><%= entry.description %></td>
            <td><%= entry.amount.euro %></td>
          </tr>
      <% end %>

      <% if @user.startsaldo.to_i != 0 and (params[:page].to_i == (@entries.count.to_f / 15.to_f).ceil or !params[:page]) %>
          <tr>
            <td colspan="4"></td>
          </tr>
          <tr>
            <td><i>01.08.2014</i></td>
            <td><i>Abrechnung SS14</i></td>
            <td><i>Eröffnungssaldo</i></td>
            <td><i><%= @user.startsaldo.euro %></i></td>
          </tr>
          <tr>
            <td colspan="4"></td>
          </tr>
      <% end %>
      </tbody>
      <tfoot>
      <tr>
        <th colspan="3">
          Schulden Gesamt:
        </th>
        <th colspan="1" class="text-right">
          <%= @user.balance.euro %>
        </th>
      </tr>
      </tfoot>
    </table>
    <p>
      Stand: <%= Date.today.strftime("%d.%m.%Y") %>
    </p>
    <%= will_paginate @entries %>
    <div class="hidden-print">
      <%= link_to 'Bearbeiten', edit_user_path(@user) %>
    </div>
  </div>
</div>