<%
   users = User.all_for_lists
   poena = %w{.3 .5 1 1.5 2.5 Sonstiges}
%>
<div id="liste" class="table-responsive">
  <h1>Poena <%= Semester.current.semester_long_name %></h1>

  <table class="table">
    <thead>
    <tr>
      <th></th>
      <% poena.each do |d| %>
          <th class="text-center">
            <%= d.to_f.euro if d.to_f != 0 %><%= d if d.to_f == 0 %>
          </th>
      <% end %>

      <td style="vertical-align: middle;font-size: 1.5em;">&nbsp;&nbsp;&Sigma;&nbsp;&nbsp;</td>
    </tr>
    </thead>
    <tbody>
    <% users.each do |user| %>
        <tr>
          <th style="padding: 5px">
            <%= user.status %> <%= user.name %>
          </th>
          <% poena.each do |d| %>
              <td>&nbsp;</td>
          <% end %>
          <td>&nbsp;</td>
        </tr>
    <% end %>

    <% (20 - users.size).times do %>
    <tr>
      <th>
        &nbsp;
      </th>
      <% poena.each do |d| %>
          <td>&nbsp;</td>
      <% end %>
      <td>&nbsp;</td>
    </tr>
<% end %>

    </tbody>

  </table>
</div>